
.container-msg {
    margin: 50px 0 0 0;
    text-align: left;
    width: 100%;
}

.h1 {
    font-size: 20px;
}

.logo-msg a{
    top: 5px;
    text-decoration:none;
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: rgba(255, 255, 255, 0.95);
}

.header-msg {
    margin: 0 auto;
    width: 1140px;
    height: 96px;
    padding: 0 15px;
    box-sizing: content-box;
    position: relative;
}

.content-msg {
    min-height: 450px;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 1140px;
    padding: 15px;
    background-color: #FFF;
}

.mainbar-full-msg {
    width: 100%;
    padding: 0;
}

.page-description {
    font-size: 14px;
    margin: 10px 0;
    line-height: 18px;
}


.val-success {
    background: #f4fcee;
    border: 2px solid #91e458;
}

.val-message {
    margin: 20px auto;
    width: 600px;
    padding: 20px 30px 10px 30px;
}

.val-default {
    background: #f4fcee;
    border: 2px solid #e40b2d;
}



#icon-msg-success{
    font-size: 60px;
    color: #4cae4c;
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

#icon-msg-default{
    font-size: 60px;
    color: #ae0926;
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

 p {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}

 .footer-msg{
     width: 1140px;
     margin: 0 auto;
 }