body {
    padding-top: 70px;
}


.order-container{
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 750px;
    height: 760px;
    min-height: 750px;
    min-width: 750px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.order-row{
    margin-right: -15px;
    margin-left: -15px;
}

.order-content-up {
     width: 63%;
     height: 54%;
     margin: 20px auto;
     background-color: #edf0ff;
     border: 1px solid #ddd;
     border-radius: 4px;
     padding-top: 15px;
     padding-left: 15px;
     padding-right: 15px;
}

.order-content-down {
    width: 63%;
    height: 40%;
    margin: 20px auto;
    background-color: #edf0ff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.order-thumbnail {
    text-align:center;
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.order-text-serial-number {
    font-size: 18px;
    font-weight: 700;
    font-family: Microsoft YaHei;
}

.order-text {
    text-align:center;
    display: block;
    padding: 4px;
    margin-bottom: 5px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

    font-size: 15px;
    font-weight: 700;
    font-family: Microsoft YaHei;

}

.order-text-row {
    height: 30px;
    text-align:center;
    display: block;
    padding: 4px;
    margin-bottom: 5px;
}

.order-text-row-headline {
    height: 35px;
    text-align:center;
    display: block;
    padding: 4px;
    margin-bottom: 5px;

    font-size: 14px;
    font-weight:700;

    border-bottom: 1px #ddd solid;
}

.order-text-city {
    float: left;
}

.order-text-time {
    float: right;
}

.text-station {
    border-bottom: 1px solid #ddd;
}

.order-text-from {
    float: left;
}

.order-text-to {
    float: right;
}

.order-text-number {
    float: right;
}
.order-text-price {
    float: right;
}
.order-text-pay {
    float: right;
}

.order-text-pay {
    float: right;
}


.order-text-button {
    text-align:center;
    display: block;
    margin-top: 6px;
    height: 50px;
}

