div {
    display: block;
}

body {
    background: #FFF;
    color: #333;
    line-height: 20px;
    padding-top: 70px;
}

body, button, input, select, textarea {

}

button,form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

a:link,a:visited {
    text-decoration:none;
}

.center-wrap {
    font: 12px/1.5 "Microsoft Yahei","Hiragino Sans GB",tahoma,arial;
    width: 990px;
    min-width: 990px;
    margin: 0 auto;
}

.order-wrap {
    border: 1px #e5e5e5 solid;
    background: #fff5f5;
    overflow: hidden;
}


/*------left--------*/
.order-left {
    float: left;
    width: 680px;
    background: #fff;
    padding-bottom: 3000px;
    margin-bottom: -3000px;
}

.clear-fix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
}

.station-container {
    float: left;
    width: 680px;
    min-height: 500px;
    _height: 500px;
    overflow-x: auto;
    position: relative;
}

.s-hd {
    position: relative;
    padding-left: 40px;
    line-height: 40px;
    height: 40px;
}
.station-hd {
    background-color: #fcfcfc;
    font-size: 16px;
    padding-left: 10px;
    line-height: 33px;
    border-bottom: 1px solid #e6e6e6;
}

.s-title {
    color: #4586d0;
    padding-right: 3px;
    font-style: normal;;
    font-weight: 400;
}

.s-title-num {
    position: relative;
    background-color: #fca114;
    padding: 3px 5px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    margin-left: 5px;
}

.s-title-num:after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border: 4px solid transparent;
    left: -11px;
    top: 6px;
    border-right: 7px solid #fca114;
}

.station-mn {
    padding: 10px 10px 0;
}

.routeMap {
    display: block;
    height: 300px;
}

.routeMap ul {
    padding: 20px 15px 0;
    zoom: 1;
    list-style: none;
}

.s-clear:after, .s-clear:before {
    content: "";
    display: table;
}

.routeMap li {
    display: block;
    float: left;
    border-top: 5px solid #20A4D1;
    height: 80px;
    position: relative;
    padding: 13px 20px 0;
}

.routeMap li.ride .cl-station {
    top: -51px;
    padding-top: 50px;
    background: url("../image/plane-icon.png")  no-repeat center  ;
}

.routeMap .cl-station {
    display: inline-block;
    position: relative;
    top: -36px;
    cursor: pointer;
    white-space: nowrap;
    padding-top: 25px;
    color: #21A4D0;
    font-size: 14px;
}


.s-info {
    zoom: 1;
    margin-top: 20px;
    height: 100px;
}

.s-info dl {
    padding: 10px;
    background: #fffdf2;
    border: 1px dashed #ddd;
    margin: 0 20px 15px;
    overflow: hidden;
    zoom: 1;
    height: 100px;
}

.s-info dl dt {
    float: left;
    width: 76px;
    height: 52px;
    text-align: center;
    line-height: 80px;
    color: #d76d03;
    margin-right: 15px;
    overflow: hidden;
}

.s-info dl dd {
    overflow: hidden;
    zoom: 1;
}

.s-info li {
    float: left;
    margin-right: 20px;
    color: #4586d0;
    line-height: 26px;
}

.s-info li span {
    font-style: normal;
}






.order-choose-info {
    margin: 0 20px 0;
    border-top: 1px #e5e5e5 solid;
    padding: 20px 0;
}

ul, menu, dir {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.order-choose-info li {
    padding: 0 10px 0 25px;
    float: left;
    line-height: 30px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.order-foot h4 {
    font-size: 100%;
    display: block;
    font-weight: bold;
}

.s-s-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: left;
    background: url(//localhost:8080/SubwayTicketOnline/image/order/s-icon.png) no-repeat center;
}


.s-trans-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: left;
    background: url(//localhost:8080/SubwayTicketOnline/image/order/trans-icon.png) no-repeat center;
}

.s-bus-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: left;
    background: url(//localhost:8080/SubwayTicketOnline/image/order/bus-icon.png) no-repeat center;
}

.s-train-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: left;
    background: url(//localhost:8080/SubwayTicketOnline/image/order/train-icon.png) no-repeat center;
}

.s-plane-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: left;
    background: url(//localhost:8080/SubwayTicketOnline/image/order/plane-icon.png) no-repeat center;
}







/*------right--------*/

.order-right {
    float: right;
    width: 293px;
    padding: 20px 0 0 15px;
}

.order-ad {
    padding: 0 10px 10px 0;
    height: 95px;
}

.order-content {

}

.order-content li {
    padding: 0 0 10px 40px;
    overflow: hidden;
    zoom: 1;
    line-height: 24px;
}

.order-content li label {
    float: left;
    margin-left: -40px;
    color: #9a9a9a;
    line-height: 25px;
    cursor: default;
    font-weight: 500;
}

.order-content li strong {
    font-size: 14px;
    color: #3e3e3e;
    font-weight: 700;
}

.order-content li em {
    font-style: normal;
    color: #eb002a;
    font-weight: 700;
    font-size: 14px;
    margin: 0 5px;
}

.order-content li.line {
    border-bottom: 1px #e5e5e5 solid;
}


.order-content li.total div {
    float: left;
    font-weight: 700;
    font-size: 12px;
    color: #eb002a;
}

.order-submit {
    border-top: 1px #e5e5e5 solid;
    padding-top: 2px;
}

.order-submit .sub {
    display: block;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    background: #eb002a;
    border: 0;
    width: 155px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 14px;
}



/*------foot--------*/


.order-foot {
    height: 128px;
    line-height: 1.8;
    color: #666;
    background: #f7f7f7;
    border: 1px #e5e5e5 solid;
    border-top: 0;
}

.order-tips {
    float: left;
    width: 480px;
    height: 115px;
    border-right: 1px #e5e5e5 solid;
    margin: 10px 0 0 20px;
}

.order-info {
    float: left;
    margin: 10px 0 0 20px;
}